/* Add example of selector by tag: make h1, h2 colors = purple */
h1 {color: yellow;}


/* Add example of selector by class value: make .myparagraph font-size = 16pt */



/* Add example of selector by id: make #result-parent color = red */



